body{
    background-color: #f0f0f0;
}

a:link,a:hover,a:active,a:visited{
    color:#747474;
}

table{
    margin: 0 auto;
    width: 1000px;
    border: none;
    padding: 2px;
}


h1{
    text-align: center;
}

.jobbraIgazitas{
    float: right;
}

#kepFel{
    vertical-align: top;
}

h2{
    color: #9bce11;
}

header{    
    background-position: center center;
    height: 200px;
    background-image: url(img/background.jpg) ;
}

.navbar{
    background-color: #aea598;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
}